/*
 * Settings
 */
@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic|Merriweather:400,700);

$base-font-size:			16px!default;
$base-line-height:		24px!default;

$brand-face:					"Museo",sans-serif!default;
$default-face:				"Lato",sans-serif!default;

$bgrnd-color:					#222222!default;
$default-font-color:	white!default;

$base-spacing-unit:		$base-line-height!default;
$half-spacing-unit:		$base-spacing-unit / 2!default;
$line-height-ratio:		$base-line-height / $base-font-size;