<article>
	<h2><a href="{{ article.slug }}">{{ article.title }}</a></h2>
	{% assign post = article %}
	{% include "articles/date-tags" %}
	{% comment %}
	{% if forloop.first and currentpage == 1 %}
		{{ article.body }}
	{% else %}
		{% capture more %}... <a href="{{ article.slug }}" class="more">Read the post in full</a>{% endcapture %}
		<p>{{ article.body | strip_html | truncatewords:20,more }}</p>
	{% endif %}
	{% endcomment %}
	{% capture more %}... <a href="{{ article.slug }}" class="more">+ read on </a>{% endcapture %}
	<p>{{ article.body | strip_html | truncatewords:20,more }}</p>
	<hr>
</article>
<!-- TODO: Add tag-icons  -->