<div class="date"><span>{{ post.date | date:'%b %d %Y' }}</span>
{% for tag in post.tags %}<span><a href="/tag/{{ tag | downcase }}">{{ tag }}</a>{% if forloop.index != forloop.length %}, {% endif %}</span>{% endfor %}</div>
<!-- TODO: Establish Tag-to-Icon include system. Integrate into index view, article header, archive-by-tags  -->