/*
 * Baseline
 */
 html{
	font-family:$default-face;
	font-size:100%;
	font-weight:normal;
	line-height:$line-height-ratio;
	color:$default-font-color;
	background-color:$bgrnd-color;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:none;
}

html,body{
	height:100%;
}

.wrapper{
	max-width:1000px;
	min-height:100%;
	padding:1em;
	margin:0 auto;
}

canvas{
	-ms-touch-action: double-tap-zoom;
}

a{
	color:#666;

	&:hover{
		text-decoration:underline;
	}
}

.selected{
	text-decoration: none;
	color:#999;
}



/*
 * Header
 */
.page-head{
	position: relative;
	max-width:650px;
	margin: 0 auto;

	p{
		@include font-size(16px);
		line-height:1.8em;
		color:#999;
		display:block;
		margin:.5em 0 1em 0;
		padding:0;

	}
}

.page-head .ident{
	@include font-size(30px);
	font-family:$brand-face;
	font-weight:700;
	color:$default-font-color;
	display:inline-block;
	margin-bottom:0em;
	text-decoration:none;
}

.page-head nav a{
	display:inline-block;
	margin:0 .5em 0 0;
}

.twitter{
	display:inline-block;
	position:absolute;
	

	left:auto;
	right:1em;
	top:.8em;
	
	&:hover{
		color:#00ABF0;
		.icon{
			fill:#00ABF0;
		}
	}
}



/*
 * Content
 */
.content{
	padding:0;
	max-width:750px;
	margin:0 auto;

	a{
		color:#46b0db;
	}
}

article{
	margin-top:2em;

	hr{
		background-color:#e9e9e9;
		border-width:0;
		color:#e9e9e9;
		height:1px;
		line-height:0;
		page-break-after:always;
		text-align:center;
		width:100%;
		margin:2em auto 0 auto;
	}
}

article:last-of-type{
	hr{
		display:none;
	}
}

p{
	@include font-size(13px);
	line-height:1.6em;;
	margin-top:1em;

	em{
		border-bottom:1px solid #ccc;
		display:inline-block;
	}
}

ul,ol{
	display:block;
	margin:2em 0;
	padding-left:1em;

	li{
		@include font-size(13px);
		line-height:1.6em;
	}
}

blockquote{
	border-left:3px solid #ccc;
	padding:0 0 0 1em;
	margin:1.5em 0;
	color:#999;
}

.content .more{
	@include vendor(border-radius,3px);
	@include font-size(15px);
	line-height:2.5em;
	color:#fff;
	text-decoration:none;
	padding:0 .8em;
	background-color:#46b0db;
	display:table;
	margin:2em auto 0 auto;
	width:80%;
	text-align:center;

	&:hover{
		background-color:#999;
		text-decoration: none;
	}
}

.paging{
	margin-top:4em;
	text-align:center;

	span{
		font-style:italic;
	}

	.next{
		display:inline-block;
		margin-left:1em;
	}

	.previous{
		display:inline-block;
		margin-right:1em;
	}
}

.paging .more{
	@include vendor(border-radius,3px);
	@include font-size(18px);
	line-height:2.8em;
	text-decoration:none;
	padding:0 2em;
	margin:0 auto;
	display:block;
	text-shadow:none;
	font-style:italic;
	background-color:transparent;
	border:1px dotted #e9e9e9;
	color:#999;

	&:hover{
		background-color:transparent;
		border:1px dotted #46b0db;
		color:#46b0db;
		text-decoration: none;
	}
}

.content h2,h1{
	@include font-size(20px);
	font-family:$brand-face;

	a{
		color:$default-font-color;
	}
}

h3{
	
	@include font-size(18px);
	font-family:$brand-face;
	margin-top:2em;
}

.date{
	margin:0 0 1em 0;
	@include font-size(12px);

	span{
		color:#999;
		font-style:italic;
		border-bottom:1px solid #e9e9e9;
	}
}

pre{
	@include font-size(15px);
	@include vendor(border-radius,3px);
	font-family:monospace;
	background-color:#fff;
	border:1px dotted #e9e9e9;
	padding:1em;
	margin-top:1em;
	margin-bottom:4em;
}



/*
 * Footer
 */
.page-foot{
	@extend .cf;
	@include font-size(13px);
	max-width:650px;
	margin: 5em auto 0 auto;
	padding-bottom:1em;
	padding-top:1em;
	border-top:1px solid #e9e9e9;
	text-align:center;

	>span{
		float:none;
		display:inline-block;
		text-align:center;
		padding:0;
		margin:1em 0 0 0;
	}

	>a{
		float:none;
		text-decoration:none;
		display:inline-block;
		text-align:center;
		padding:0;
		margin:0 .5em;

		span{
			text-decoration:underline;
		}

		&:hover{

			span{
				text-decoration:none;
			}
		}
	}
}



/*
 * SVG Icons
 */

.twitter-txt{
	display:none;
}

.no-svg{
	.twitter-txt{
		display:block;
	}
}



/* 
 * Disqus
 */
#disqus_thread{
	border-top:1px solid #e9e9e9;
	padding-top:3em;
	margin-top:5em;
}
