/*
 * Mobile
 */
.wrapper{
	padding:2em;
}



/*
 * Header
 */
.page-head{
	p{
		@include font-size(15px);
	}
}

.page-head .ident{
	@include font-size(35px);
}

.twitter{
	left:18em;
	top:.8em;
	right:auto;
}



/*
 * Content
 */
article{
	margin-top:3em;

	hr{
		width:50%;
	}
}

p{
	@include font-size(18px);
	line-height:1.6em;

}

ul,ol{
	padding-left: 0;

	li{
		@include font-size(18px);
		line-height:1.6em;
	}
}

blockquote{
	border-left:5px solid #ccc;
}

.content .more{
	@include vendor(border-radius,3px);
	@include font-size(16px);
	line-height:2.2em;
	color:#fff;
	text-decoration:none;
	padding:0.3em 1.2em;
	background-color:#3b8bb0;
	display:table;
	margin:1.5em 0 0 0;
	width:auto;
	text-align: left;
}

.content h2,h1{
	@include font-size(30px);
}

h3{
	@include font-size(22px);
}

.date{
	@include font-size(15px);
}

.paging{
	margin-top:5em;
}

.paging .more{
	@include vendor(border-radius,3px);
	@include font-size(18px);
	line-height:2.8em;
	text-decoration:none;
	padding:0 2em;
	margin:0 auto;
	display:block;
	text-shadow:none;
	font-style:italic;
	background-color:transparent;
	border:1px dotted #e9e9e9;
	color:#999;
	text-align:center;

	&:hover{
		background-color:transparent;
		border:1px dotted #46b0db;
		color:#46b0db;
		text-decoration: none;
	}
}



/*
 * Footer
 */
.page-foot{
	text-align:left;

	>span{
		float:right;
		text-align:left;
		margin:0;
	}

	>a{
		margin-right:1em;
		float:left;
		margin:0 1em 0 0;
		text-align:left;
	}
}