/* [sass, assets/sass, app.scss] */
@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic|Merriweather:400,700);
/*
 * Setup
 */
/*
 * Settings
 */
/* 
 * Mixins // Credit to Harry Roberts & inuit.css for these simple Mixins
 *
 * Font size
 */
/*
 * Vendor
 */
/* normalize.css v2.0.1 | MIT License | git.io/normalize */
/*
 *  Corrects `block` display not defined in IE 8/9.
 */
/* line 16, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 *  Corrects `inline-block` display not defined in IE 8/9.
 */
/* line 25, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
audio,
canvas,
video {
  display: inline-block; }

/*
 *  Prevents modern browsers from displaying `audio` without controls.
 *  Remove excess height in iOS 5 devices.
 */
/* line 33, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
/* line 42, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
[hidden] {
  display: none; }

/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 51, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Removes default margin.
 */
/* line 60, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
body {
  margin: 0; }

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 67, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* line 76, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
/* line 84, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 91, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 99, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
b,
strong {
  font-weight: bold; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
/* line 106, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 8/9.
 */
/* line 113, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
/* line 125, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 133, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Sets consistent quote types.
 */
/* line 142, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
/* line 149, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 158, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 165, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
sup {
  top: -0.5em; }

/* line 169, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
sub {
  bottom: -0.25em; }

/*
 * Removes border when inside `a` element in IE 8/9.
 */
/* line 176, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
img {
  border: 0; }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
/* line 183, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
/* line 190, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
figure {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
/* line 197, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 207, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
/* line 220, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 231, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 245, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
/* line 254, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
/* line 263, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 273, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 285, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 4+.
 */
/* line 293, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 302, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/*
 * Remove most spacing between table cells.
 */
/* line 310, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 
 * Base
 */
/* line 4, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 15, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_base.scss */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

/* line 20, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_base.scss */
abbr[title], dfn[title] {
  cursor: help; }

/* line 24, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_base.scss */
a, u, ins {
  text-decoration: none; }

/* line 28, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_base.scss */
ins {
  border-bottom: 1px solid; }

/* line 32, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_base.scss */
object, img {
  font-style: italic;
  vertical-align: middle;
  max-width: 100%; }

/* line 43, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_base.scss */
label,
input,
textarea,
button,
select,
option {
  cursor: pointer; }

/* line 50, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_base.scss */
.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus {
  cursor: text;
  outline: none; }

/*
 * Micro clearfix, as per: nicolasgallagher.com/micro-clearfix-hack
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
/* line 6, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_clearfix.scss */
.cf, .page-foot {
  zoom: 1; }
  /* line 10, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_clearfix.scss */
  .cf:before, .page-foot:before, .cf:after, .page-foot:after {
    content: " ";
    display: table; }
  /* line 15, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_clearfix.scss */
  .cf:after, .page-foot:after {
    clear: both; }

/* 
 * Breakpoints
 */
/*
 * Baseline
 */
/* line 4, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
html {
  font-family: "Lato", sans-serif;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.5;
  color: white;
  background-color: #222222;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none; }

/* line 15, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
html, body {
  height: 100%; }

/* line 19, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
.wrapper {
  max-width: 1000px;
  min-height: 100%;
  padding: 1em;
  margin: 0 auto; }

/* line 26, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
canvas {
  -ms-touch-action: double-tap-zoom; }

/* line 30, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
a {
  color: #666; }
  /* line 33, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
  a:hover {
    text-decoration: underline; }

/* line 38, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
.selected {
  text-decoration: none;
  color: #999; }

/*
 * Header
 */
/* line 48, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
.page-head {
  position: relative;
  max-width: 650px;
  margin: 0 auto; }
  /* line 53, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
  .page-head p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    line-height: 1.8em;
    color: #999;
    display: block;
    margin: .5em 0 1em 0;
    padding: 0; }

/* line 64, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
.page-head .ident {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.6;
  font-family: "Museo", sans-serif;
  font-weight: 700;
  color: white;
  display: inline-block;
  margin-bottom: 0em;
  text-decoration: none; }

/* line 74, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
.page-head nav a {
  display: inline-block;
  margin: 0 .5em 0 0; }

/* line 79, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
.twitter {
  display: inline-block;
  position: absolute;
  left: auto;
  right: 1em;
  top: .8em; }
  /* line 88, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
  .twitter:hover {
    color: #00ABF0; }
    /* line 90, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
    .twitter:hover .icon {
      fill: #00ABF0; }

/*
 * Content
 */
/* line 101, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
.content {
  padding: 0;
  max-width: 750px;
  margin: 0 auto; }
  /* line 106, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
  .content a {
    color: #46b0db; }

/* line 111, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
article {
  margin-top: 2em; }
  /* line 114, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
  article hr {
    background-color: #e9e9e9;
    border-width: 0;
    color: #e9e9e9;
    height: 1px;
    line-height: 0;
    page-break-after: always;
    text-align: center;
    width: 100%;
    margin: 2em auto 0 auto; }

/* line 128, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
article:last-of-type hr {
  display: none; }

/* line 133, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
p {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.84615;
  line-height: 1.6em;
  margin-top: 1em; }
  /* line 138, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
  p em {
    border-bottom: 1px solid #ccc;
    display: inline-block; }

/* line 144, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
ul, ol {
  display: block;
  margin: 2em 0;
  padding-left: 1em; }
  /* line 149, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
  ul li, ol li {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.84615;
    line-height: 1.6em; }

/* line 155, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
blockquote {
  border-left: 3px solid #ccc;
  padding: 0 0 0 1em;
  margin: 1.5em 0;
  color: #999; }

/* line 162, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
.content .more {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  line-height: 2.5em;
  color: #fff;
  text-decoration: none;
  padding: 0 .8em;
  background-color: #46b0db;
  display: table;
  margin: 2em auto 0 auto;
  width: 80%;
  text-align: center; }
  /* line 175, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
  .content .more:hover {
    background-color: #999;
    text-decoration: none; }

/* line 181, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
.paging {
  margin-top: 4em;
  text-align: center; }
  /* line 185, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
  .paging span {
    font-style: italic; }
  /* line 189, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
  .paging .next {
    display: inline-block;
    margin-left: 1em; }
  /* line 194, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
  .paging .previous {
    display: inline-block;
    margin-right: 1em; }

/* line 200, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
.paging .more {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333;
  line-height: 2.8em;
  text-decoration: none;
  padding: 0 2em;
  margin: 0 auto;
  display: block;
  text-shadow: none;
  font-style: italic;
  background-color: transparent;
  border: 1px dotted #e9e9e9;
  color: #999; }
  /* line 214, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
  .paging .more:hover {
    background-color: transparent;
    border: 1px dotted #46b0db;
    color: #46b0db;
    text-decoration: none; }

/* line 222, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
.content h2, h1 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
  font-family: "Museo", sans-serif; }
  /* line 226, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
  .content h2 a, h1 a {
    color: white; }

/* line 231, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
h3 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333;
  font-family: "Museo", sans-serif;
  margin-top: 2em; }

/* line 238, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
.date {
  margin: 0 0 1em 0;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2; }
  /* line 242, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
  .date span {
    color: #999;
    font-style: italic;
    border-bottom: 1px solid #e9e9e9; }

/* line 249, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
pre {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-family: monospace;
  background-color: #fff;
  border: 1px dotted #e9e9e9;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 4em; }

/*
 * Footer
 */
/* line 265, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
.page-foot {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.84615;
  max-width: 650px;
  margin: 5em auto 0 auto;
  padding-bottom: 1em;
  padding-top: 1em;
  border-top: 1px solid #e9e9e9;
  text-align: center; }
  /* line 275, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
  .page-foot > span {
    float: none;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 1em 0 0 0; }
  /* line 283, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
  .page-foot > a {
    float: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0 .5em; }
    /* line 291, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
    .page-foot > a span {
      text-decoration: underline; }
    /* line 297, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
    .page-foot > a:hover span {
      text-decoration: none; }

/*
 * SVG Icons
 */
/* line 310, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
.twitter-txt {
  display: none; }

/* line 315, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
.no-svg .twitter-txt {
  display: block; }

/* 
 * Disqus
 */
/* line 325, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_baseline.scss */
#disqus_thread {
  border-top: 1px solid #e9e9e9;
  padding-top: 3em;
  margin-top: 5em; }
