/* [sass, assets/sass, layout.scss] */
@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic|Merriweather:400,700);
/*
 * Setup
 */
/*
 * Settings
 */
/* 
 * Mixins // Credit to Harry Roberts & inuit.css for these simple Mixins
 *
 * Font size
 */
/*
 * Vendor
 */
/*
 * Micro clearfix, as per: nicolasgallagher.com/micro-clearfix-hack
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
/* line 6, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_clearfix.scss */
.cf {
  zoom: 1; }
  /* line 10, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_clearfix.scss */
  .cf:before, .cf:after {
    content: " ";
    display: table; }
  /* line 15, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/default/_clearfix.scss */
  .cf:after {
    clear: both; }

/*
 * Mobile
 */
@media only screen and (min-width: 30em) {
  /*
   * Mobile
   */
  /* line 4, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_general.scss */
  .wrapper {
    padding: 2em; }

  /*
   * Header
   */
  /* line 14, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_general.scss */
  .page-head p {
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6; }

  /* line 19, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_general.scss */
  .page-head .ident {
    font-size: 35px;
    font-size: 2.1875rem;
    line-height: 1.37143; }

  /* line 23, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_general.scss */
  .twitter {
    left: 18em;
    top: .8em;
    right: auto; }

  /*
   * Content
   */
  /* line 34, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_general.scss */
  article {
    margin-top: 3em; }
    /* line 37, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_general.scss */
    article hr {
      width: 50%; }

  /* line 42, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_general.scss */
  p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.33333;
    line-height: 1.6em; }

  /* line 48, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_general.scss */
  ul, ol {
    padding-left: 0; }
    /* line 51, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_general.scss */
    ul li, ol li {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 1.33333;
      line-height: 1.6em; }

  /* line 57, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_general.scss */
  blockquote {
    border-left: 5px solid #ccc; }

  /* line 61, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_general.scss */
  .content .more {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    line-height: 2.2em;
    color: #fff;
    text-decoration: none;
    padding: 0.3em 1.2em;
    background-color: #3b8bb0;
    display: table;
    margin: 1.5em 0 0 0;
    width: auto;
    text-align: left; }

  /* line 75, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_general.scss */
  .content h2, h1 {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 1.6; }

  /* line 79, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_general.scss */
  h3 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.09091; }

  /* line 83, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_general.scss */
  .date {
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6; }

  /* line 87, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_general.scss */
  .paging {
    margin-top: 5em; }

  /* line 91, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_general.scss */
  .paging .more {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.33333;
    line-height: 2.8em;
    text-decoration: none;
    padding: 0 2em;
    margin: 0 auto;
    display: block;
    text-shadow: none;
    font-style: italic;
    background-color: transparent;
    border: 1px dotted #e9e9e9;
    color: #999;
    text-align: center; }
    /* line 106, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_general.scss */
    .paging .more:hover {
      background-color: transparent;
      border: 1px dotted #46b0db;
      color: #46b0db;
      text-decoration: none; }

  /*
   * Footer
   */
  /* line 119, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_general.scss */
  .page-foot {
    text-align: left; }
    /* line 122, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_general.scss */
    .page-foot > span {
      float: right;
      text-align: left;
      margin: 0; }
    /* line 128, /Users/elydious/Design/SOURCE_CODE/bootstrap-sass/templates/blog.ely.io/assets/sass/breakpoints/_general.scss */
    .page-foot > a {
      margin-right: 1em;
      float: left;
      margin: 0 1em 0 0;
      text-align: left; } }
