/* 
 * Mixins // Credit to Harry Roberts & inuit.css for these simple Mixins
 *
 * Font size
 */
@mixin font-size($font-size){
    font-size: $font-size;
    font-size: ($font-size / $base-font-size)*1rem;
    line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
}

@mixin hexagon($font-size, $fill-color){
    width: 100px;
    height: 55px;
    position: relative;

    :before, :after{
		background: $fill-color;
		content: "";
  	    position: absolute;
        left: 22px;
        width: 57px;
        height: 57px;
        -moz-transform: rotate(145deg) skew(22.5deg);
        -webkit-transform: rotate(145deg) skew(22.5deg);
        transform: rotate(145deg) skew(22.5deg);

  }
  		& span{
  			position: absolute;
    		top: 0;
    		left: 0;
    		color:#000;
    		text-align:center;
   			font-size:24px;
   		     width: 100px;
   			 height: 55px;
   			 background:red;
   			 z-index: 1;
  		}
.hexagon:before {
    top: -29px;
}
.hexagon:after {
    top: 27px;
}


body { padding: 100px; }
}

/*
 * Vendor
 */
@mixin vendor($property, $value...){
    -webkit-#{$property}:$value;
       -moz-#{$property}:$value;
        -ms-#{$property}:$value;
         -o-#{$property}:$value;
            #{$property}:$value;
}