{% layout "index" %}
{% block content %} 
	{% collection "article" by 10 query 'tags={{ mixture.route.tag }}' order desc %}
		{% if collection.current_page > collection.pages and collection.size > 0 %}
			{% include "articles/paged-too-far" %}
		{% elseif collection.size == 0 %}
			{% include "articles/no-articles" %}
		{% else %}
			{% assign currentpage = collection.current_page %}
			{% include "articles/article" with collection.items %}
			{% include "articles/paging" %}
		{% endif %}
	{% endcollection %}
{% endblock %}